#
# get rid of unexpected files
#
*

#
# Don't store binary files
#
*.a

# except, keep .gitignore
!.gitignore

# keep expected files
# !libaiagent.a
# !libaicsp.a
# !libaienvironment.a
# !libaifol.a
# !libailocalsearch.a
# !libaipl.a
# !libaisearch.a
