#
# get rid of unexpected files
#
*

# except, keep .gitignore
!.gitignore

#
# keep all header files
#
!*.h

# keep expected directories
!Abalone/
!Candy/
!CCheckers/
!Jetan/
!Mancala/
!Obstacle/
!Scavenger/
!TicTacToe/
!Wumpus/
!XY/

