#container{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: #948;
}

header {
    text-align: center;
}

h1 {
    font-size: 60;
    font-family: 'Charmonman', cursive;
    font-weight: bold;
    padding: 0px;
    margin: 0px;
}

#sub-heading {
    font-size: 36;
    font-family: 'Charmonman', cursive;
    padding: 0px;
    margin-top: 0px;
}

main { 
    margin: 0 auto;
    justify-content: center;
}

#maindiv {
    border-color: #222;
    border-width: 3px;
    
}

#picsdiv{
    font-family: 'Charmonman', cursive;
    width: 100%;
    height: auto;
    margin: 0 auto;
    justify-content: center;
}

#nameHead{
    display: none;
    font-size: 24;
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-left: 200px;
}

#roleHead{
    display: none;
    font-size: 24;
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-left: 200px;
}

#classRace{
    display: none;
    font-size: 24;
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-left: 200px;
}

#trialHead{
    display: none;
    font-size: 24;
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-left: 200px;
}

#commentHead{
    display: none;
    font-size: 24;
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-left: 200px;
}

img {
    max-width:100%;
    height:auto;
    background-color: black;
}

#dw-pic {
    width: 48%;
    height: 300px;
    background-image: url(dwpic.png);
    background-repeat: no-repeat;
    background-position: right;
    /* position: left; */
    float: left;
    display: block;
    padding-left: 5px;
}

#sp-pic {
    width: 48%;
    height: 300px;
    background-image: url(avpic.png);
    background-repeat: no-repeat;
    background-position: left;
    /* position: right; */
    float: right;
    display: block;
    padding-right: 5px;
}

h2{
    font-family: 'Charmonman', cursive;
    /* color: #909; */
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

#name-field {
    resize: none;
    font-family: Cambria; 
    background-color: rgb(247, 165, 247);
    color: #909;
    display: none;
    margin-left: 200px;
}
#role-field {
    resize: none;
    font-family: Cambria; 
    background-color: rgb(247, 165, 247);
    color: #909;
    display: none;
    margin-left: 200px;
}
#class-race-field {
    resize: none;
    font-family: Cambria; 
    background-color: rgb(247, 165, 247);
    color: #909;
    display: none;
    margin-left: 200px;
}

#trials-needed-field {
    resize: none;
    font-family: Cambria; 
    background-color: rgb(247, 165, 247);
    color: #909;
    display: none;
    margin-left: 200px;
}

#comments{
    resize: none;
    font-family: Cambria; 
    background-color: rgb(247, 165, 247);
    color: #909;
    display: none;
    margin-left: 200px;
}

.row {
    width: 293px;
    resize: none;
    background-color: #222;
    color: #999;
    border-color: #222;
    justify-content: left;
}

#button-container {
    margin: 0 auto;
    text-align: center;
    justify-content: center;
}

body{
    margin: 0 auto;
    justify-content: center;
}

#button {
    background-color: #444;
    font-family: Cambria;
    color: #aaa;
    border-width: 0px;
    margin: 15px;
    display: inline-block;
}

#button2 {
    background-color: #444;
    font-family: Cambria;
    color: #aaa;
    border-width: 0px;
    margin: 15px;
    display: inline-block;
}

#full-list{
    margin: 0 auto;
    height: 300px;
    width: 750px;
    justify-content: left;
    resize: none;
    font-family: Cambria; 
    background-color: #948;
    color: #999;
    border-color: #999;
    border-width: 2px;
    overflow: scroll;
    visibility: none;
}